html
  head
    link(rel='stylesheet', href='/css/base.css')
  body
    #gcontainer
    block content
    script(src="/vendor/head.load.min.js")
    script(src="/vendor/underscore-min.js")
    script(src="/vendor/socket.io.min.js")
    script(src="/vendor/collie.min.js")
    script(src="/"+room+"/client/index.js")
    block script